@use '@ibm/plex-mono/scss' as PlexMono with (
	$font-prefix: '@ibm/plex-mono',
	$font-weights: (
		bold: false,
		boldItalic: false,
		extralight: false,
		extralightItalic: false,
		italic: false,
		light: false,
		lightItalic: false,
		medium: false,
		mediumItalic: false,
		regular: false,
		semibold: false,
		semiboldItalic: false,
		text: false,
		textItalic: false,
		thin: false,
		thinItalic: false
	)
);

@use '@ibm/plex-sans/scss' as PlexSans with (
	$font-prefix: '@ibm/plex-sans',
	$font-weights: (
		bold: false,
		boldItalic: false,
		extralight: false,
		extralightItalic: false,
		italic: false,
		light: false,
		lightItalic: false,
		medium: false,
		mediumItalic: false,
		regular: false,
		semibold: false,
		semiboldItalic: false,
		text: false,
		textItalic: false,
		thin: false,
		thinItalic: false
	)
);

@use '@ibm/plex-serif/scss' as PlexSerif with (
	$font-prefix: '@ibm/plex-serif',
	$font-weights: (
		bold: true,
		boldItalic: false,
		extralight: false,
		extralightItalic: false,
		italic: true,
		light: false,
		lightItalic: false,
		medium: true,
		mediumItalic: false,
		regular: true,
		semibold: true,
		semiboldItalic: false,
		text: false,
		textItalic: false,
		thin: false,
		thinItalic: false
	)
);

@include PlexMono.all($unicode-ranges: ());

@include PlexSans.all($unicode-ranges: ());

@include PlexSerif.all($unicode-ranges: ());
